/* Unsetting bootstripe styling to align grid properly */
*,
::after,
::before {
  box-sizing: unset !important;
}
:root {
  --mian: rgb(17, 78, 76);
  --jumbo: rgb(228, 228, 228);
  --main-site: url(/images/gallery.png);
  --background: rgb(62, 198, 198);
}
/* .navbar {
  margin: 0px;
  box-sizing: border-box;
} */
.navbar-brand {
  background-color: var(--mian);
  size: 400px;
}
/* Attempt to align children elements of the navigation  */
/* #navbarNav {
  position: absolute;
  left: calc(100vh - 5px);
}
.nav-link {
  padding-right: 40px;
} */
.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}
.nav-item {
  padding-right: 80px;
}
.photoBackground {
  background-image: url(../images/portfolio4.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--jumbo);
}
.card-body {
  border: 4px double var(--mian);
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
}
.header {
  border-right: 2px;
  border-color: rgb(97, 18, 18);
  border-style: solid;
  border-top: 0cap;
  border-left: 0cap;
  border-bottom: 0cap;
  padding-right: 40px;
  height: max-content;
}
.card {
  border: 0cap;
}
/* previous attempt for adding grid responsiveness */
/* .horiseon {
  width: 450px;
  height: 180px;
}
.lawFirm {
  width: 450px;
  height: 180px;
} */

.gallery {
  margin: 10px;
  border: 2px solid;
}
.lawFirm {
  margin: 10px;
  border: 2px solid;
}
.horiseon {
  margin: 10px;
  border: 2px solid;
}
.placeholder {
  margin: 10px;
  border: 2px solid;
}
.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer {
  border: 4px double var(--mian);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 50px;
}
#contact {
  padding: 30px 30px 30px 30px;
  border: 2px solid;
  background-color: aliceblue;
}
/* Adding additional responsivness on the top of the Bootstrap styling  */
@media only screen and (max-width: 800px) {
  .photoBackground {
    width: auto;
    height: 200px;
    background-position: 70%;
    size: 300px;
    background-size: cover;
  }
  .photoBackground p {
    width: 50%;
    height: fit-content;
    font-size: 10px;
  }
}
@media only screen and (max-width: 1500px) {
  .photoBackground {
    background-size: cover;
  }
}
/* Calculating the font size for each html text */
html {
  font-size: calc(0.25em + 1vw);
}
.header {
  margin-right: 10px;
  padding-bottom: calc(20% + 100px);
}
.card {
  background-color: var(--background);
}
.card-body {
  background-color: white;
}
.footer {
  background-color: white;
}
body {
  background-color: var(--background);
}
