:root {
  --mian: rgb(17, 78, 76);
  --jumbo: rgb(228, 228, 228);
  --main-site: url(/images/gallery.png);
}
.navbar-brand {
  background-color: var(--mian);
  size: 400px;
}
/* Attempt to align children elements of the navigation  */
/* #navbarNav {
  position: absolute;
  left: calc(100vh - 5px);
}
.nav-link {
  padding-right: 40px;
} */
.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}
.nav-item {
  padding-right: 80px;
}
.photoBackground {
  background-image: url(../images/portfolio4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--jumbo);
}
.card-body {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: space-between !important;
}
.header {
  border-right: 2px;
  border-color: rgb(97, 18, 18);
  border-style: solid;
  border-top: 0cap;
  border-left: 0cap;
  border-bottom: 0cap;
  padding-right: 40px;
  height: max-content;
}
.card {
  border: 0cap;
}
.footer a {
  padding-right: 80px;
}
/* previous attempt for adding grid responsiveness */
/* .horiseon {
  width: 450px;
  height: 180px;
}
.lawFirm {
  width: 450px;
  height: 180px;
} */

.gallery {
  margin: 10px;
  border: 2px solid;
}
.lawFirm {
  margin: 10px;
  border: 2px solid;
}
.horiseon {
  margin: 10px;
  border: 2px solid;
}
.placeholder {
  margin: 10px;
  border: 2px solid;
}
